body{
    background-color: #CBD1CB;
    font-size: 14px;
}

p{
    color: #4e4e4e;
    font-size: 20px;
    font-family: "kepler-std";
}

h1{
    color: #4e4e4e;
    font-size: 32px;
    font-family: "kepler-std";
    font-weight: 300;
}

section{
    text-align: center;
}

#navLogo{
    max-width: 340px;
}

nav a{
    color: #4e4e4e;
    font-size: 32px;
    font-family: "kepler-std";
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}
